//resets

fieldset {
  border: none;
  padding: 0;
}

.bp-logo {
  margin-top: 60px;
  width: 334px;
  @media only screen and (max-width: 568px) {
    width: auto;
  }
}

.bp-login {
  color: #333333;
  &__header {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 81px;
    margin-top: 84px;
    &--reset {
      font-size: 42px;
      font-weight: 400;
      margin-bottom: 61px;
    }
  }
}

.login-wrapper {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: 50px;
  }
}

.col-1 {
  @media only screen and (max-width: 768px) {
    width: auto;
  }
  width: 50%;
}

.col-2 {
  @media only screen and (max-width: 768px) {
    width: auto;
  }
  width: 50%;
  margin: auto;

  img {
    width: 100%;
    margin-top: 130px;

    @media only screen and (min-width: 768px) and (max-width: 1500px) {
      width: 370px;
      margin-top: 3rem;
      height: auto;
    }

    @media only screen and (min-width: 1500px) {
      height: 414px;
      width: 516px;
      margin-top: 3rem;
    }

    @include ie-only() {
      display: block;
      margin: 120px auto;
    }
  }
}

small {
  color: #cd202c;
  font-weight: 700;
  font-size: 1rem;
  display: block;
  text-align: left;
  margin-bottom: 8px;
  width: 100%;
}

.bp-login-form {
  label {
    font-size: 14px;
    margin-left: 10px;
    padding: 15px 0;
    position: absolute;
    transition-property: color, top, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
  }

  input {
    border: 1px solid #cccdcd;
    border-radius: 3px;
    font-size: 1rem;
    padding: 22px 5px 3px 10px;
    margin-bottom: 20px;
    width: -webkit-fill-available;
    width: -moz-available;
    outline: none;

    @include ie-only() {
      width: 100%;
    }

    &:focus {
      border: 2px solid #2a6ebb !important;
    }
    &:hover {
      box-shadow: 0 2px 0 #cccdcd;
    }
  }

  span {
    cursor: pointer;
    float: right;
    position: relative;
    top: -50px;
    right: 10px;
  }

  &__disclaimer {
    color: #8d8e90;
    line-height: 22px;
    margin-top: 11px;
    margin-bottom: 2rem;
  }

  &__button {
    color: white;
    background: #c50084;
    border-radius: 6px;
    border: none;
    display: inherit;
    font-size: 1rem;
    padding: 12px 16px;
    margin-top: 20px;
    text-transform: uppercase;
  }
}

.bp-login__forgotPass {
  color: #2a6ebb;
  text-decoration: none;
}

.reset-password {
  margin: 0 auto;
  text-align: center;

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    width: 70%;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 50%;
  }

  @media only screen and (min-width: 1024px) {
    width: 35%;
  }

  h1 {
    margin-top: 0;
  }

  &__logo {
    height: auto;
    margin-bottom: 17px;
    margin-top: 103px;
  }

  &__form-text {
    margin-top: 53px;
    line-height: 22px;
  }

  button {
    background-color: #2a6ebb;
    margin: auto;
    text-transform: inherit;
  }
}

.reset-pass-journey {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 75%;

  @include ie-only() {
    width: 100%;
  }

  span {
    @include ie-only() {
      flex: 1;
    }
    &:nth-child(1) {
      &::after {
        content: "Request";
        top: 6px;
        position: relative;
      }
    }
    &:nth-child(2) {
      &::after {
        content: "Validate";
        top: 6px;
        position: relative;
      }
    }
    &:nth-child(3) {
      &::after {
        content: "Reset";
        top: 6px;
        position: relative;
      }
    }
  }

  &__active {
    background-color: #333333 !important;
  }
}

.circle {
  border-radius: 50%;
  background-color: #d9d9da;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  margin: auto;
  width: max-content;

  @include ie-only() {
    width: 9px;
  }
}

.border-center {
  width: 90%;
  position: relative;

  @include ie-only() {
    width: 100%;
  }
}

.border-center:before {
  content: "";
  position: absolute;
  bottom: 66%;
  border-bottom: 5px #d9d9da solid;
  width: 89%;
  z-index: -1;
  left: 17px;
  @include ie-only() {
    width: 70%;
    left: 56px;
  }
}

.step3 {
  input {
    margin-bottom: 0px;
  }

  .bp-login-form__button {
    margin-top: 23px;
  }

  span {
    top: -28px;
  }

  small {
    position: relative;
    bottom: -11px;
    padding-bottom: 8px;
  }

  .form-field {
    &:last-of-type {
      small {
        @-moz-document url-prefix() {
          padding-bottom: 12px;
          top: 15px;
        }
      }
    }
  }
}

//Class's for dom manipulation
.error-icon {
  background-image: url(../images/error-icon.svg);
  background-repeat: no-repeat;
  margin-left: 11px;
  width: auto;
}

.error-input {
  border: 2px solid #cd202c !important;
}

label.focus {
  font-size: 10px;
}

input.focus {
  color: #cd202c;
}

.focus {
  margin-top: -8px;

  input {
    font-size: 3rem;
  }
}

small.error-icon {
  padding-left: 25px;
}

.visibility-hidden {
  color: #fff;
}

.visibility-btn {
  background: none !important;
  border: none;
}

.form-field {
  position: relative;
}

.bp-login-form label {
  left: 0;
}

.visibility-hidden-form {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
