fieldset {
  border: none;
  padding: 0;
}

.bp-logo {
  margin-top: 60px;
  width: 334px;
}

@media only screen and (max-width: 568px) {
  .bp-logo {
    width: auto;
  }
}

.bp-login {
  color: #333333;
}

.bp-login__header {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 81px;
  margin-top: 84px;
}

.bp-login__header--reset {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 61px;
}

.login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .login-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.col-1 {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .col-1 {
    width: auto;
  }
}

.col-2 {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .col-2 {
    width: auto;
  }
}

.col-2 img {
  width: 100%;
  margin-top: 130px;
}

@media only screen and (min-width: 768px) and (max-width: 1500px) {
  .col-2 img {
    width: 370px;
    margin-top: 3rem;
    height: auto;
  }
}

@media only screen and (min-width: 1500px) {
  .col-2 img {
    height: 414px;
    width: 516px;
    margin-top: 3rem;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .col-2 img {
    display: block;
    margin: 120px auto;
  }
}

small {
  color: #cd202c;
  font-weight: 700;
  font-size: 1rem;
  display: block;
  text-align: left;
  margin-bottom: 8px;
  width: 100%;
}

.bp-login-form label {
  font-size: 14px;
  margin-left: 10px;
  padding: 15px 0;
  position: absolute;
  -webkit-transition-property: color, top, -webkit-transform;
  transition-property: color, top, -webkit-transform;
  transition-property: color, top, transform;
  transition-property: color, top, transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bp-login-form input {
  border: 1px solid #cccdcd;
  border-radius: 3px;
  font-size: 1rem;
  padding: 22px 5px 3px 10px;
  margin-bottom: 20px;
  width: -webkit-fill-available;
  width: -moz-available;
  outline: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .bp-login-form input {
    width: 100%;
  }
}

.bp-login-form input:focus {
  border: 2px solid #2a6ebb !important;
}

.bp-login-form input:hover {
  -webkit-box-shadow: 0 2px 0 #cccdcd;
          box-shadow: 0 2px 0 #cccdcd;
}

.bp-login-form span {
  cursor: pointer;
  float: right;
  position: relative;
  top: -50px;
  right: 10px;
}

.bp-login-form__disclaimer {
  color: #8d8e90;
  line-height: 22px;
  margin-top: 11px;
  margin-bottom: 2rem;
}

.bp-login-form__button {
  color: white;
  background: #c50084;
  border-radius: 6px;
  border: none;
  display: inherit;
  font-size: 1rem;
  padding: 12px 16px;
  margin-top: 20px;
}

.bp-login__forgotPass {
  color: #2a6ebb;
  text-decoration: none;
}

.reset-password {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .reset-password {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .reset-password {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .reset-password {
    width: 35%;
  }
}

.reset-password h1 {
  margin-top: 0;
}

.reset-password__logo {
  height: auto;
  margin-bottom: 17px;
  margin-top: 103px;
}

.reset-password__form-text {
  margin-top: 53px;
  line-height: 22px;
}

.reset-password__form-text ul {
  list-style: none;
}

.reset-password button {
  background-color: #2a6ebb;
  margin: auto;
  text-transform: inherit;
}

.reset-password__form-validation-rules {
  margin-bottom: 0;
}

.reset-pass-journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .reset-pass-journey {
    width: 100%;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .reset-pass-journey span {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.reset-pass-journey span:nth-child(1)::after {
  content: "Request";
  top: 6px;
  position: relative;
}

.reset-pass-journey span:nth-child(2)::after {
  content: "Validate";
  top: 6px;
  position: relative;
}

.reset-pass-journey span:nth-child(3)::after {
  content: "Reset";
  top: 6px;
  position: relative;
}

.reset-pass-journey__active {
  background-color: #333333 !important;
}

.circle {
  border-radius: 50%;
  background-color: #d9d9da;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .circle {
    width: 9px;
  }
}

.border-center {
  width: 90%;
  position: relative;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .border-center {
    width: 100%;
  }
}

.border-center:before {
  content: "";
  position: absolute;
  bottom: 66%;
  border-bottom: 5px #d9d9da solid;
  width: 89%;
  z-index: -1;
  left: 17px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .border-center:before {
    width: 70%;
    left: 56px;
  }
}

.step3 input {
  margin-bottom: 0px;
}

.step3 .bp-login-form__button {
  margin-top: 23px;
}

.step3 span {
  top: -28px;
}

.step3 small {
  position: relative;
  bottom: -11px;
  padding-bottom: 8px;
}

@-moz-document url-prefix() {
  .step3 .form-field:last-of-type small {
    padding-bottom: 12px;
    top: 15px;
  }
}

.error-icon {
  background-image: url(../images/error-icon.svg);
  background-repeat: no-repeat;
  margin-left: 11px;
  width: auto;
}

.error-input {
  border: 2px solid #cd202c !important;
}

label.focus {
  font-size: 10px;
}

input.focus {
  color: #cd202c;
}

.focus {
  margin-top: -8px;
}

.focus input {
  font-size: 3rem;
}

small.error-icon {
  padding-left: 25px;
}

.visibility-hidden {
  color: #fff;
}

.visibility-btn {
  background: none !important;
  border: none;
}

.form-field {
  position: relative;
}

.bp-login-form label {
  left: 0;
}

.visibility-hidden-form {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#formSubmissionErrorSecond {
  margin-top: 1.875rem;
  padding-bottom: 1.875rem;
}

#formSubmissionErrorSecond a {
  color: #2a6ebb;
  text-decoration: none;
}

.bs-login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 991.5px) {
  .bs-login-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 991.5px) {
  .bs-login-wrapper {
    -webkit-column-gap: 5.9375rem;
            column-gap: 5.9375rem;
  }
}

.login-form__title {
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .login-form__title {
    font-size: 2.5rem;
    margin-top: 4.125rem !important;
  }
}

.login-form__intro {
  font-weight: 400;
  margin-top: 2.875rem;
  margin-bottom: 60px;
}

.altLogin {
  background-color: #e5e6e6;
  border-radius: 0.375rem;
  padding: 1.5625rem 1.25rem;
  margin: 0 0 2.75rem 0;
}

.altLogin h2 {
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4375rem;
  margin-bottom: 1.4375rem;
}

@media (min-width: 992px) {
  .altLogin {
    margin: revert;
    margin-bottom: auto;
    margin-top: 3.0625rem;
  }
}

.bs-institution-login {
  background-color: #2a6ebb;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 1.875rem;
  padding: 0.75rem 1rem;
  line-height: 1.375rem;
  text-decoration: none;
}

.subscription-bp__image {
  padding-top: 2.875rem;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 992px) {
  .subscription-bp__image {
    width: 18.75rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .subscription-bp__image {
    display: none;
  }
}

@media only screen and (max-width: 991.5px) {
  .subscription-bp__image--desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  .subscription-bp__image--desktop {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 21.875rem;
  }
}

@media only screen and (max-width: 768px) {
  .bp-login__header {
    margin: 1rem 0;
  }
  .login-form__intro {
    margin: 1rem 0;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  button {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */